.lil-gui.autoPlace {
  right: 0;
}

.lil-gui {
  font-weight: 300;

  /* Panel looks */

  --width: 40rem;
  --widget-color: #fffcf9;
  --hover-color: #e5e2e0;
  --background-color: #f0f0f0;
  --widget-border-radius: 0.8rem;
  --focus-color: #fffcf9;
  --title-background-color: #f0f0f0;

  /* Fonts */

  --text-color: black;
  --font-family: "Lexend", sans-serif;
  --font-family-mono: "Lexend", sans-serif;
  --title-text-color: black;
  --font-size: 1rem;
  --string-color: black;
  --number-color: black;
  --input-font-size: 1.2rem;

  /* Spacing */

  --padding: 2.5rem;
  --spacing: 1rem;
  --widget-padding: 1.2rem 1.6rem;

  /* Settings */

  --slider-input-width: 7rem;
  --checkbox-size: 2.4rem;
}

.lil-gui .title {
  font-size: 1.8rem;
  font-weight: 700;

  position: relative;

  width: 35rem;
  margin: 0 var(--padding);
  padding: 0;

  border: none !important;
  border-top: 0.2rem solid #d9d9d9 !important;
}

.lil-gui .title::before {
  position: absolute;
  right: 0;
}

.lil-gui .controller:not(.boolean, .option) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  gap: 0.5rem;
}

.lil-gui .controller .widget {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lil-gui .controller.number .slider {
  height: 0.8rem;

  background-color: #d9d9d9;
}

.lil-gui .controller.number .fill {
  position: relative;
}

.lil-gui .controller.number .fill::after {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 100%;

  display: inline-block;

  width: 1.6rem;
  height: 1.6rem;

  content: "";
  transform: translate(-50%, -50%);
  pointer-events: none;

  border-radius: 50%;
  background-color: black;
}

.lil-gui .controller.function .widget button {
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 50%;
  margin: 1rem;
  padding: 2.5rem 3rem;

  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;

  color: #f0f0f0;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  background: #0d275e; /* Primary color */
}

.lil-gui .controller.function .widget button:hover {
  color: #0d275e;
  border: 0.2rem solid #0d275e;
  background: none;
}

input {
  font-weight: 300;

  text-align: center;
}

/* Plattegrond */
.plattegrond {
  width: 20rem;
  height: 20rem;
}

.lil-gui .plattegrondImg {
  width: 100%;
  height: 100%;
}

/* Foto's map */

.lil-gui .controller.function {
  margin: 1rem;

  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lil-gui .photosFolder {
  overflow-y: auto;

  min-height: 40rem;
  max-height: 50vh;
}

.lil-gui .photosFolder .title {
  position: sticky;
  z-index: 2;
  top: 0;

  width: 100%;
  margin: 0;
  padding: 0 25px;

  background-color: #f0f0f0;
}

.lil-gui .photosFolder::-webkit-scrollbar {
  width: 8px;
}

.lil-gui .photosFolder::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888;
}

.lil-gui .photosFolder::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.lil-gui .photosFolder .controller .widget {
  display: flex;
  align-items: center;
  justify-content: right;
}

.lil-gui .photosFolder .controller.function .widget button {
  width: fit-content;
  min-width: 20%;
  max-width: 45%;
}

.lil-gui .photosFolder .controller.function .widget button:hover {
  color: #0d275e;
  border: 0.2rem solid #0d275e;
  background: none;
}

/* Style for the reset buttons */

.lil-gui .reset-buttons-container {
  display: flex;
  justify-content: space-around;
}

.lil-gui .reset-button {
  max-width: 40%;
}

.lil-gui .reset-buttons-container .controller.function .widget button {
  padding: 2rem 7rem;
}
