/* General body styling */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lexend', sans-serif; /* General font family */
    font-size: 62.5%;

    overflow: hidden;

    box-sizing: inherit;

    scroll-behavior: smooth;

    /* 1rem = 10px */
}

body {
    font-size: 1.4rem;
    font-weight: 300; /* Light */

    align-items: center;

    max-width: 100vw;
    max-height: 100vh;

    background-color: #E6E6E6; /* Background color */

    scroll-behavior: smooth;
}

/* Typography styles (generalized) */

/* Header 1 (Lexend SemiBold 35px) */

h1 {
    font-size: 3.5rem;
    font-weight: 600; /* SemiBold */
}

/* Header 2 (Lexend SemiBold 25px) */

h2 {
    font-size: 2.5rem;
    font-weight: 600; /* SemiBold */
}

/* Header 3 (Lexend Bold 18px) */

h3 {
    font-size: 1.8rem;
    font-weight: 700; /* Bold */
}

/* Error message (Lexend Light 14px) */

.error-message {
    font-size: 1.4rem;
    font-weight: 300; /* Light */

    color: #B20D30; /* Error color */
}

/* Menu styles */

#menu {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;

    transform: translate(-50%, -50%);
    text-align: center;

    gap: 4rem;
}

/* Buttons */

.menu-button,
#backButton {
    font-size: 1.4rem;
    font-weight: 700;

    margin: 1rem;
    padding: 1.5rem 3rem;

    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;

    color: #E6E6E6;
    border: .2rem solid;
    border-radius: .5rem;
    background: #0D275E; /* Primary color */
}

#backButton {
    color: #0D275E;
    border-color: #0D275E;
    background: none;
}

/* Hover state for buttons */

.menu-button:hover {
    color: #0D275E;
    border: .2rem solid #0D275E;
    background: none;
}

#backButton:hover {
    color: #E6E6E6;
    background: #0D275E;
}

/* Back button specific styling */

#backButton {
    position: absolute;
    top: 2rem;
    left: 2rem;

    display: none; /* Initially hidden */
}

/* Utility class for text alignment */

.text-center {
    text-align: center;
}
