/* General body styling */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lexend", sans-serif; /* General font family */
  font-size: 62.5%;

  overflow: hidden;

  box-sizing: inherit;

  scroll-behavior: smooth;

  /* 1rem = 10px */
}

body {
  font-size: 1.4rem;
  font-weight: 300; /* Light */

  align-items: center;

  max-width: 100vw;
  max-height: 100vh;

  background-color: #e6e6e6; /* Background color */

  scroll-behavior: smooth;
}

/* Typography styles (generalized) */

/* Header 1 (Lexend SemiBold 35px) */

h1 {
  font-size: 3.5rem;
  font-weight: 600; /* SemiBold */
}

/* Header 2 (Lexend SemiBold 25px) */

h2 {
  font-size: 2.5rem;
  font-weight: 600; /* SemiBold */
}

/* Header 3 (Lexend Bold 18px) */

h3 {
  font-size: 1.8rem;
  font-weight: 700; /* Bold */
}

/* Error message (Lexend Light 14px) */

.error-message {
  font-size: 1.4rem;
  font-weight: 300; /* Light */

  color: #b20d30; /* Error color */
}

/* Menu styles */

#menu {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;

  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;

  gap: 4rem;
}

/* Buttons */

.menu-button,
#backButton {
  font-size: 1.4rem;
  font-weight: 700;

  margin: 1rem;
  padding: 1.5rem 3rem;

  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;

  color: #e6e6e6;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  background: #0d275e; /* Primary color */
}

#backButton {
  color: #0d275e;
  border-color: #0d275e;
  background: none;
}

/* Hover state for buttons */

.menu-button:hover {
  color: #0d275e;
  border: 0.2rem solid #0d275e;
  background: none;
}

#backButton:hover {
  color: #e6e6e6;
  background: #0d275e;
}

/* Back button specific styling */

#backButton {
  position: absolute;
  top: 2rem;
  left: 2rem;

  display: none; /* Initially hidden */
}

/* Utility class for text alignment */

.text-center {
  text-align: center;
}

/* Loading screen styles */
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loadingCard {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 20vw;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.loadingTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.loadingFilename {
  color: #666;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progressContainer {
  background-color: #e6e6e6;
  border-radius: 4px;
  height: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progressBar {
  background-color: #0d275e;
  transition: width 0.3s ease;
  width: 0%;
}

.progressText {
  color: #666;
  text-align: center;
}
